.users__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
}

.users__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.users__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.user-exp {
  background-color: lightblue;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.users__actions {
  text-align: right;
}

.users__user {
  width: 90%;
  border: 1px;
  border-radius: 5px;
}
